<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="hanabank.bpr.navigator.category"
            name="Common Navigator Examples">
      </category>
      <view
            allowMultiple="false"
            class="org.eclipse.ui.navigator.CommonNavigator"
            id="hanabank.bpr.navigator.view"
            name="Example View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="hanabank.bpr.navigator.view">
      </viewer>
   </extension>


</plugin>
