<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="hanabank.bpr.navigator.category"
            name="Common Navigator Examples">
      </category>
      <view
            allowMultiple="false"
            category="hanabank.bpr.navigator.category"
            class="hanabank.bpr.views.ExampleView"
            id="hanabank.bpr.navigator.view"
            name="ExampleView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            inheritBindingsFromViewer="org.eclipse.ui.navigator.ProjectExplorer"
            viewerId="hanabank.bpr.navigator.view"></viewer>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            id="-.hideNoneJavaProjects"
            name="hide non-java projects">
         <filterExpression>
            <not>
               <adapt type="org.eclipse.core.resources.IProject">
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="org.eclipse.jdt.core.javanature">
                  </test>
               </adapt>
            </not>
         </filterExpression>
      </commonFilter>
      <navigatorContent
            activeByDefault="true"
            contentProvider="hanabank.bpr.navigator.PropertiesContentProvider"
            icon="icons/sample.png"
            id="hanabank.bpr.navigator.propertiesContent"
            labelProvider="hanabank.bpr.navigator.PropertiesLableProvider"
            name="Properties for File content"
            priority="normal">
         <triggerPoints>
            <or>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IResource">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.core.resources.extension"
                        value="properties">
                  </test>
               </and>
               <instanceof
                     value="hanabank.bpr.navigator.PropertiesTreeData">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="hanabank.bpr.navigator.PropertiesTreeData">
               </instanceof>
            </or>
         </possibleChildren>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            contentProvider="hanabank.bpr.navigator.AnnotationContentProvider"
            icon="icons/sample.png"
            id="hanabank.bpr.navigator.annotationContent"
            labelProvider="hanabank.bpr.navigator.AnnotationLableProvider"
            name="Annotation content"
            priority="normal">
         <triggerPoints>
            <or>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IResource">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.core.resources.extension"
                        value="java">
                  </test>
               </and>
               <instanceof
                     value="hanabank.bpr.navigator.AnnotationTreeData">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="hanabank.bpr.navigator.AnnotationTreeData">
               </instanceof>
            </or>
         </possibleChildren>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            contentProvider="hanabank.bpr.navigator.CustomContentProvider"
            icon="icons/sample.png"
            id="hanabank.bpr.navigator.customContent"
            labelProvider="hanabank.bpr.navigator.CustomLableProvider"
            name="Custom content"
            priority="normal">
         <triggerPoints>
            <or>
               <and>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.core.resources.extension"
                        value="java">
                  </test>
               </and>
            </or>
         </triggerPoints>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="hanabank.bpr.workBenchActionSet"
            label="B&amp;PR View"
            visible="true">
         <menu
               id="hanabank.bpr.workBenchActionSet"
               label="B&amp;PR View"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="hanabank.bpr.views.actions.BprViewActionSet"
               icon="icons/sample.png"
               id="hanabank.bpr.openView"
               label="Open B&amp;PR View"
               menubarPath="hanabank.bpr.workBenchActionSet/content"
               style="push"
               toolbarPath="additions"
               tooltip="ToolTip Test">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="hanabank.bpr.testViewPopup"
            targetID="hanabank.bpr.navigator.view">
         <menu
               id="hanabank.bpr.testViewSubPopup"
               label="PopupTest"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="hanabank.bpr.views.actions.BprPopupActionDelegate"
               id="hanabank.bpr.testViewPopupAction"
               label="testView"
               menubarPath="hanabank.bpr.testViewSubPopup/content"
               tooltip="testViewTool">
         </action>
      </viewerContribution>
   </extension>


</plugin>
